@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');
html {
  box-sizing: border-box;
  font-size: 12px;
  font-family: 'Spartan', sans-serif;
  overflow: hidden;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow: hidden;
}

h1,
h2 {
  color: hsl(0, 0%, 27%);
}
p {
  color: hsl(0, 0%, 73%);
  line-height: 1.75rem;
  letter-spacing: -0.5px;
}

.nav-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  margin-top: 7vh;
  margin-left: 13vw;
  display: flex;
  width: 17vw;
  justify-content: space-between;
}

.mobile-menu-cta {
  display: none;
}

.logo {
  top: 7vh;
  left: 4.5vw;
  z-index: 1;
  position: absolute;
}

.nav-item {
  position: relative;
  color: white;
  text-transform: lowercase;
  font-size: 0.95rem;
  display: flex;
  align-self: center;
  transition: all 0.2s ease-in-out;
}
.nav-item::before {
  content: '';
  left: 50%;
  position: absolute;
  bottom: -10px;
  width: 0px;
  height: 2px;
  margin: 5px 0 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: white;
}
.nav-item::after {
  content: '';
  right: 50%;
  position: absolute;
  bottom: -10px;
  width: 0px;
  height: 2px;
  margin: 5px 0 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: white;
}
.nav-item:hover {
  cursor: pointer;
}
.nav-item:hover::before {
  width: 25%;
  opacity: 1;
}
.nav-item:hover::after {
  width: 25%;
  opacity: 1;
}

.slider-title {
  font-weight: 500;
  font-size: 3.25rem;
  color: hsl(0, 0%, 0%);
  letter-spacing: -0.2rem;
  margin-bottom: 1.5rem;
}

#slider-container {
  height: 66vh;
  display: flex;
  flex-wrap: nowrap;
  width: 300vw;
  transform: translateX(0);
  transition: transform ease-in-out 400ms;
  overflow-x: hidden;
}

.slider {
  display: flex;
  width: 100vw;
}

#slider-1 .slider-image {
  background-image: url('images/desktop-image-hero-1.jpg');
}
#slider-2 .slider-image {
  background-image: url('images/desktop-image-hero-2.jpg');
}
#slider-3 .slider-image {
  background-image: url('images/desktop-image-hero-3.jpg');
}

.slider-image {
  width: 58.33vw;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}

.slider-text-container {
  background-color: white;
  width: 41.67vw;
  padding: 12vh 7vw;
}

.slider-text {
}

.slider-cta {
  margin-top: 3rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
}

.slider-cta:hover {
  cursor: pointer;
  color: hsl(0, 0%, 73%);
}

.slider-cta:hover .arrow-right-symbol path {
  fill: hsl(0, 0%, 73%);
}

.slider-control-container {
  position: absolute;
  display: flex;
  left: 58.33vw;
  top: 56vh;
}

.slider-control {
  background-color: black;
  width: 5.555vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-control:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 27%);
}

.about-section-container {
  height: 34vh;
  width: 100%;
  display: grid;
  grid-template-columns: 29.16vw 40.27vw 30.55vw;
  grid-template-rows: 1fr;
}

.about-background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  height: 100%;
}

.about-left-photo {
  background-image: url('images/image-about-dark.jpg');
}

.about-middle-text {
  padding: 8vh 4vw 4vh 4vw;

  height: 100%;
}

.about-middle-text-title {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.5rem;
}

.about-right-photo {
  background-image: url('images/image-about-light.jpg');
}

@media screen and (max-width: 1240px) {
  .slider-text-container {
    padding-top: 0;
  }
  .about-middle-text {
    padding-top: 1rem;
  }
  .slider-control-container {
    left: calc(58.33vw - 5.555vw - 5.555vw);
  }

  .nav-container {
    width: 25vw;
  }
}

@media screen and (max-width: 830px) {
  html {
    overflow-y: scroll;
  }

  .logo {
    width: 100vw;
    display: flex;
    justify-content: center;
    top: 12.5vw;
  }

  .mobile-menu-cta {
    display: block;
    position: absolute;
    top: 12.5vw;
    left: 7.5vw;
    z-index: 100;
    transition: opacity ease-in-out 300ms;
  }

  .mobile-menu-cta:hover {
    cursor: pointer;
  }

  #mobile-menu-background {
    position: absolute;
    left: 0;
    top: 0;
    background: white;
    width: 100vw;
    height: 30vw;
    z-index: 5;
    transform: translateY(-60vw);
    transition: opacity ease-in-out 300ms, transform ease-in-out 300ms;
  }

  .nav-container {
    padding-left: 25vw;
    margin-left: 0;
    margin-top: 13vw;
    display: flex;
    width: 100vw;
    justify-content: space-around;
  }

  .nav-container .nav-item {
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    color: hsl(0, 0%, 0%);
    transition-duration: 300ms;
  }

  #slider-container {
    height: initial;
  }
  .slider {
    flex-direction: column;
  }

  #slider-1 .slider-image {
    background-image: url('images/mobile-image-hero-1.jpg');
  }
  #slider-2 .slider-image {
    background-image: url('images/mobile-image-hero-2.jpg');
  }
  #slider-3 .slider-image {
    background-image: url('images/mobile-image-hero-3.jpg');
  }

  .slider-image {
    width: 100vw;
    height: 97vw;
  }

  .slider-text-container {
    width: 100vw;
    padding: 10% 8vw;
  }

  .slider-title {
    font-size: 2.35rem;
  }

  .slider-cta {
    margin-bottom: 1.5rem;
  }

  .slider-control-container {
    right: 0;
    top: calc(97vw - 15vw);
    left: initial;
  }

  .slider-control {
    background-color: black;
    width: 15vw;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-section-container {
    height: initial;
    grid-template-rows: 63.46vw 80.8vw 60.533vw;
    grid-template-columns: 1fr;
  }

  .about-middle-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10vw 15vw;
  }
}

.show {
  visibility: initial !important;
  opacity: 1 !important;
}

.hide {
  visibility: hidden !important;
  opacity: 0 !important;
}
